body {
    display: flex;
    flex-direction: column;
    min-width: 160px;
    width: 320px;
    min-height: 200px;
    max-height: 450px;
    margin: 0 1rem 1rem;
}

.site-url {
    font-weight: 100;
}

.header {
    padding: .5rem 1rem;
    background: linear-gradient(90deg, #c14e48 40%, #e1645e) #c14e48;
    color: #fff;
    margin: 0 -1rem 1rem;
}

.header .logo {
    font-size: 1em;
}

.header .logo .image {
    height: 30px;
}

.actions {
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
}

.actions .btn:last-child {
    float: right;
}

// .rank-list .rank-badge {
//     float: right;
// }

.pointer {
    transition: transform 0.3s ease-in-out;
}

.pointer:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.rank-container{
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-left: auto;
    width: 100px;
}
.rank-badge.empty{
    background: transparent;
    visibility: hidden;
}
.div-left{
    margin-right: auto;
}
.div-right{
    margin-left: auto;
}
#chart-btn{
    font-size: 10px;
}